.card {
  display: flex;
  border: 1px solid var(--verde-bom);
  border-radius: 8px;
  flex-direction: column;
  min-width: 80vw;
  padding-bottom: 1em;
  height: auto;
  box-shadow: var(--sombra-leve);
}

.resumo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  margin: 1em 1em 8px;
  font-size: 24px;
  font-weight: bold;
}

@media (min-width: 1000px) {
  .card {
    min-width: 600px;
  }
}
