<!--
Informações de venda
-->
<div class="card">
  <label class="labelCentral" for="">{{ venda.tipo }}</label>
  <div class="resumo">
    <label for="">Cliente:</label>
    <label for="">{{ venda.nome }}</label>
  </div>
  <div class="resumo">
    <label for="">Data:</label>
    <label for="">{{ formatar.data(venda.data) }}</label>
  </div>
  <!--
aparece só quando pequeno
-->
  <div *ngIf="minimizado">
    <div class="resumo">
      <label for="">Quilo:</label>
      <label for="">{{ formatar.dinheiro(ResumoFinal.mediaQuilos) }}</label>
    </div>
    <div class="resumo">
      <label for="">Valor:</label>
      <label for="">R$ {{ formatar.dinheiro(ResumoFinal.valor) }}</label>
    </div>
  </div>
  <!--
aparece só quando pequeno
-->

  <!--
aparece quando grande
-->
  <div *ngIf="!minimizado">
    <div *ngIf="venda.tipo === 'Simples'">
      <app-result-card
        [tipo]="venda.tipo"
        [preco]="venda.simples.precoCaixa"
        [peso]="venda.simples.pesoCaixa"
        [quantidade]="venda.simples.caixas"
      ></app-result-card>
    </div>

    <div *ngIf="venda.tipo === 'Classificada'">
      <app-result-card
        [tipo]="venda.boa.tipo"
        [preco]="venda.boa.precoCaixa"
        [peso]="venda.boa.pesoCaixa"
        [quantidade]="venda.boa.caixas"
        [valorfinal]="venda.boa.valorTotal"
        [pesofinal]="venda.boa.pesoTotal"
        [quilo]="venda.boa.precoQuilo"
      ></app-result-card>

      <app-result-card
        [tipo]="venda.fraca.tipo"
        [preco]="venda.fraca.precoCaixa"
        [peso]="venda.fraca.pesoCaixa"
        [quantidade]="venda.fraca.caixas"
        [valorfinal]="venda.fraca.valorTotal"
        [pesofinal]="venda.fraca.pesoTotal"
        [quilo]="venda.fraca.precoQuilo"
      ></app-result-card>
    </div>

    <!--
sempre aparece o result
-->

    <p>Valor Final</p>
    <div class="resumo">
      <label for="">Valor Total:</label>
      <label for="">R$ {{ formatar.dinheiro(ResumoFinal.valor) }}</label>
    </div>
    <div class="resumo">
      <label for="">Peso Total:</label>
      <label for=""> {{ ResumoFinal.pesos }} kg</label>
    </div>
    <div class="resumo">
      <label for="">Quilo:</label>
      <label for="">R$ {{ formatar.dinheiro(ResumoFinal.mediaQuilos) }}</label>
    </div>
  </div>

  <!-- BOTÕES -->
  <div class="div-botoes">
    <button mat-icon-button color="warn" (click)="apagar()">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-raised-button color="primary" (click)="verDetalhes()">
      <mat-icon color="warn">visibility</mat-icon>
      Ver Detalhes
    </button>

    <button mat-icon-button color="primary" (click)="editar()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
