.card {
  display: flex;
  border: 1px solid var(--verde-bom);
  background-color: white;
  border-radius: 8px;
  flex-direction: column;
  border: 1px solid #cccccc;
  min-width: 90vw;
  padding-bottom: 1em;
  height: auto;
  box-shadow: var(--sombra-leve);
}

.resumo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  margin: 1em 1em 8px;
  font-size: 24px;
  font-weight: bold;
}

p {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0em;
  font-size: 20px;
}

.div-botoes {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  width: 100%;
}

@media (min-width: 1000px) {
  .card {
    min-width: 600px;
  }
}
