.card {
  display: flex;
  border: 1px solid #a1bc36;
  border-radius: 8px;
  flex-direction: column;
  min-width: 80vw;
  padding-bottom: 1em;
  height: auto;

  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.resumo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  margin: 1em 0em;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 1em;
  margin-right: 1em;
}

@media (min-width: 1000px) {
  .card {
    min-width: 600px;
  }
}
