<div class="card">
  <div class="resumo">
    <label for="">Cliente:</label>
    <label for="">David</label>
  </div>
  <div class="resumo">
    <label for="">Data:</label>
    <label for="">17/12/2025</label>
  </div>
  <div class="resumo">
    <label for="">Quilo:</label>
    <label for="">R$ 2,50</label>
  </div>
  <div class="resumo">
    <label for="">Valor:</label>
    <label for="">R$ 2.000,00</label>
  </div>
  <div class="resumo">
    <button mat-icon-button color="warn">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-raised-button color="primary">
      <mat-icon>visibility</mat-icon>
      Ver Detalhes
    </button>

    <button mat-icon-button color="primary">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
