.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3em 0;
}

h1 {
  width: 100%;
  line-height: 1.4;
  font-size: 2.5em;
}

.div-btns {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.label-btn {
  display: inline-block;
  padding: 0.7rem 1.2rem;
  border-radius: 10px;
  background: var(--bg-botao-neutro);
  color: var(--preto);
  font-weight: 600;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background 0.18s ease, transform 0.08s ease, border-color 0.12s ease;
  min-width: 160px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.297);
}

/* Oculta o input original */
input[type='radio'] {
  display: none;
}

/* Quando o radio estiver selecionado */
input[type='radio']:checked + .label-btn {
  transform: translateY(-2px);
  background: linear-gradient(90deg, var(--verde-principal) 0%, var(--verde-fraco) 100%);
  border: none;
  box-shadow: 1px 1px 1px black;
}

/* Efeito hover */
.label-btn:hover {
  background-color: var(--verde-fundo);
}
