.container {
  display: flex;
  width: 98%;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.447);
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.335);
}

label {
  font-size: 1.8em;
  margin: 0.5em;
  color: rgb(0, 0, 52);
}
input {
  color: rgb(0, 0, 52);
  width: 80%;
  font-size: 2.5em;
  border-radius: 7px;
  background-color: rgba(240, 248, 255, 0.501);
  border-right: 3px solid rgb(82, 205, 0);
  margin-bottom: 1em;
}
.resumos {
  color: rgb(0, 0, 52);
  font-size: 1.2em;
  border-radius: 7px;

  margin: 1.5em 0em;
}
