.container-simples {
  display: flex;
  width: 98%;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  box-shadow: var(--sombra);
  background-color: var(--bg-branco);
  border-radius: 8px;
  border: 1px solid var(--borda-cinza);
}

.container-boa {
  display: flex;
  width: 98%;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  box-shadow: var(--sombra);
  background-color: var(--bg-branco);
  margin-top: 0.5em;
  border-radius: 20px;
  border: 1px solid var(--borda-cinza);
  border-left: 0.5em solid var(--verde-bom);
}

.container-fraca {
  display: flex;
  width: 98%;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5em;
  box-shadow: var(--sombra);
  background-color: var(--bg-branco);
  border-radius: 20px;
  border: 1px solid var(--borda-cinza);
  border-left: 0.5em solid var(--verde-fraco);
}

label {
  font-size: 1.8em;
  margin: 0.5em;
  color: var(--azul-escuro-2);
}

input {
  color: var(--azul-escuro);
  width: 80%;
  font-size: 2.5em;
  border-radius: 7px;
  background-color: var(--bg-input);
  border-right: 3px solid var(--borda-input);
  margin-bottom: 1em;
}

.resumos {
  color: var(--azul-escuro);
  font-size: 1.2em;
  border-radius: 7px;
  margin: 1.5em 0em;
}
