.container {
  display: flex;
  flex-direction: column;

  height: auto;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  /*borrar*/
  background: rgba(37, 37, 36, 0.281);
}

.card-salvo {
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  height: 100vh;
}

.editarCentral {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 85vh;
  z-index: 1000;
  overflow-y: scroll;

  /* Firefox */
  scrollbar-width: none;

  /* IE / Edge antigo */
  -ms-overflow-style: none;
} /* Chrome, Edge, Safari */
.conteudo::-webkit-scrollbar {
  display: none;
}
h1 {
  color: #ffffff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
