.resultado-simples {
  display: flex;
  min-width: 98%;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: start;
  margin: 2em 0;
  background-color: var(--bg-branco);
  border-radius: 8px;
  border: 1px solid var(--borda-cinza);
  box-shadow: var(--sombra);
  padding: 2em 0em;
}

.resultado-boa {
  display: flex;
  min-width: 95%;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: start;
  margin: 0.5em 0;
  background-color: var(--bg-branco);
  border-radius: 8px;
  border: 1px solid var(--borda-cinza);
  border-left: 0.4em solid var(--verde-hover);
  box-shadow: var(--sombra);
  padding: 2em 0em;
}

.resultado-fraca {
  display: flex;
  min-width: 95%;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: start;
  margin: 0.5em 0;
  background-color: var(--bg-branco);
  border-radius: 8px;
  border: 1px solid var(--borda-cinza);
  border-left: 0.4em solid var(--verde-fraco);
  box-shadow: var(--sombra);
  padding: 2em 0em;
}

.resultado-simples label {
  font-size: 1.8em;
  margin: 0.5em;
  color: var(--azul-escuro);
}

label {
  font-size: 1.8em;
  margin: 0.5em;
  color: var(--azul-escuro);
}

.resumos {
  color: var(--azul-escuro);
  font-size: 1em;
  border-radius: 7px;
  padding: 0em 3em 0em 0em;
  margin: 1.5em 0em;
}
