<div class="container">
  <!-- Primeiros filtros -->
  <app-btn-filtro
    [perguntaFiltro]="pergunta1"
    [escolhasFiltro]="escolha1"
    [nameFiltro]="name1"
    (filtroEscolhido)="setFiltroNegocio($event)"
  ></app-btn-filtro>

  <app-btn-filtro
    [perguntaFiltro]="pergunta2"
    [escolhasFiltro]="escolha2"
    [nameFiltro]="name2"
    (filtroEscolhido)="setFiltroPeso($event)"
  ></app-btn-filtro>

  <div class="calculos">
    <!-- ✅ se for simples -->
    <ng-container *ngIf="filtroNegocio === 'Simples'">
      <app-input-filtro
        [inputFiltro]="filtroPeso === 'Caixa' ? inputPrecoCaixa : inputPrecoQuilo"
        [valores]="valores"
        (valoresEscolhidos)="setValores($event, 'simples')"
      ></app-input-filtro>
    </ng-container>

    <!-- ✅ se for classificada -->
    <ng-container *ngIf="filtroNegocio === 'Classificada'">
      <div class="tela-grande">
        <app-input-filtro
          [inputFiltro]="filtroPeso === 'Caixa' ? inputPrecoCaixa : inputPrecoQuilo"
          [qualidade]="'boa'"
          [valores]="valoresBoa"
          (valoresEscolhidos)="setValores($event, 'boa')"
        ></app-input-filtro>
        <app-input-filtro
          [inputFiltro]="filtroPeso === 'Caixa' ? inputPrecoCaixa : inputPrecoQuilo"
          [qualidade]="'fraca'"
          [valores]="valoresFraca"
          (valoresEscolhidos)="setValores($event, 'fraca')"
        ></app-input-filtro>
      </div>
    </ng-container>

    <!-- ✅ se for classificada: mostrar resultados extras -->
    <ng-container *ngIf="filtroNegocio === 'Classificada'">
      <h3>Resultados classificados:</h3>
      <div class="tela-grande">
        <app-results
          [inputFiltro]="filtroPeso === 'Caixa' ? inputPrecoCaixa : inputPrecoQuilo"
          [qualidade]="'boa'"
          [resultados]="resultadosBoa"
        ></app-results>

        <app-results
          [inputFiltro]="filtroPeso === 'Caixa' ? inputPrecoCaixa : inputPrecoQuilo"
          [qualidade]="'fraca'"
          [resultados]="resultadosFraca"
        ></app-results>
      </div>
    </ng-container>

    <!-- ✅ resultado geral sempre visível -->
    <h3>resultado:</h3>
    <app-results
      [inputFiltro]="filtroPeso === 'Caixa' ? inputPrecoCaixa : inputPrecoQuilo"
      [resultados]="resultados"
    ></app-results>

    <!-- Nome do Cliente -->
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>

      <mat-icon matPrefix class="truck-icon" *ngIf="moverCaminhao"> local_shipping </mat-icon>

      <input matInput [(ngModel)]="nome" />
    </mat-form-field>

    <button mat-raised-button id="button" (click)="salvarVenda()">
      <mat-icon></mat-icon>
      Salvar Venda
    </button>
  </div>
</div>
