.container {
  justify-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculos {
  background-color: var(--bg-claro);
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  padding: 1em 1px;
  width: 97%;
}

#button {
  font-size: 2.5em;
  background: linear-gradient(90deg, var(--verde-principal) 0%, var(--verde-fraco) 100%);
  border-bottom: 3px solid var(--preto);
  color: var(--bg-claro);
  border-radius: 9px;
  padding: 0.2em 1em;
  width: 9em;
  margin: auto;
}

#button:hover {
  background-color: var(--verde-fraco);
  border-bottom: 3px solid var(--preto);
  color: var(--bg-claro);
}

label {
  color: var(--bg-claro);
}

/* ========================= */
/*   RESPONSIVIDADE DESKTOP  */
/* ========================= */

@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 55%;
    padding-bottom: 1em;
  }

  .tela-grande {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
  }
}

.truck-icon {
  transform: translateX(0);
  animation: moverDireita 1.6s ease-in-out forwards;
  color: rgb(0, 0, 0);
}

@keyframes moverDireita {
  to {
    transform: translateX(99vw);
  }
}
