.container {
  justify-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculos {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;

  border-radius: 1em;
  padding: 1em 1px;
  width: 97%;
}

button {
  color: rgb(0, 0, 52);
  font-size: 2.5em;
  background-color: rgb(170, 255, 0);
  border: 1px solid black;
  border-radius: 9px;
  padding: 0.2em 1em;
  width: 9em;
  margin: auto;
}
button:hover {
  background-color: rgb(157, 255, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
}
/* ========================= */
/*   RESPONSIVIDADE DESKTOP  */
/* ========================= */

@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 50%;
  }
}
