.container {
  justify-self: center;
  width: 100%;

  margin: 1em 0;
}
/* ========================= */
/*   RESPONSIVIDADE DESKTOP  */
/* ========================= */

@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 50%;
  }
}
