.full-width {
  width: 100%;
  max-width: 400px;
}

.card {
  display: flex;
  height: 80%;
  max-height: auto;
  width: 98%;
  max-width: 600px;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  text-align: center;

  box-shadow: var(--sombra);
  background-color: var(--bg-branco);
  border-radius: 20px;
  border: 1px solid var(--borda-cinza);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 91vh;
}

h1 {
  padding: 3vh 40px 4vh 40px;
  color: var(--azul-escuro);
  background: linear-gradient(172deg, rgba(255, 255, 255, 0) 55%, var(--verde-hover));
  border: solid 2px 0px black;
  box-shadow: 1px 1px 1px black;
  border-radius: 28px;
}
button {
  width: 50%;
  font-size: 2em;
  background: linear-gradient(90deg, var(--verde-principal) 0%, var(--verde-fraco) 100%);
  color: black;
}
button:hover {
  background: linear-gradient(90deg, var(--verde-principal) 0%, var(--verde-fraco) 100%);
  filter: brightness(1.2);
}
.btn-cadastrar {
  width: 30%;
  font-size: 1.7em;
  background: white;
}
p {
  color: rgb(172, 38, 38);
  font-size: 1.3em;
}
a {
  text-decoration: none;
  color: rgb(0, 5, 53);
}
